/*
 * Copyright (c) 2020 The ZMK Contributors
 * Miryoku Layout Implementation for Corne Keyboard
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Layer definitions for Miryoku layout */

#define BASE   0
#define NAV    1
#define MOUSE  2
#define MEDIA  3
#define NUM    4
#define SYM    5
#define FUN    6

&sl {
    release-after-ms = <1000>;
    quick-release;  // <--- Just this line. No "tap".
};

&sk { quick-release; };

/ {
    behaviors {
        /* Home Row Mods*/

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        /* Thumb layer keys */

        ltsk: layer_tap_sk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&sk>;
        };
    };

    combos {
        compatible = "zmk,combos";

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <32 33>;
            layers = <0>;
        };

        Kpress {
            bindings = <&kp K>;
            key-positions = <31 32>;
            layers = <0>;
        };

        VPress {
            bindings = <&kp V>;
            key-positions = <27 28>;
            layers = <0>;
        };

        ToNav {
            bindings = <&to 0>;
            key-positions = <37 40>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <16 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: BASE - Miryoku Colemak-DHm */

        default_layer {
            display-name = "VLayer";
            bindings = <
&none  &kp Q  &kp W       &kp F               &kp P           &kp B               &kp J              &kp L            &kp U                &kp Y                &kp SEMICOLON  &none
&none  &kp A  &hm RALT R  &hm LEFT_CONTROL S  &hm LEFT_WIN T  &kp G               &kp M              &hm RIGHT_GUI N  &hm RIGHT_CONTROL E  &hm RALT I           &kp O          &none
&none  &kp Z  &kp X       &kp C               &kp D           &kp V               &kp K              &kp H            &kp COMMA            &hm EXCLAMATION DOT  &kp FSLH       &none
                          &kp ESC             &lt 0 SPACE     &lt 0 LEFT_SHIFT    &ltsk 0 RIGHT_GUI  &lt 0 BACKSPACE  &to 0
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans    &trans     &trans    &trans    &trans  &kp PG_UP  &kp UP    &kp PG_DN  &trans    &trans
&trans  &trans  &kp RALT  &kp LCTRL  &kp LGUI  &trans    &trans  &kp LEFT   &kp DOWN  &kp RIGHT  &kp BSPC  &trans
&trans  &trans  &trans    &trans     &trans    &trans    &trans  &kp HOME   &kp CAPS  &kp END    &trans    &trans
                          &trans     &trans    &trans    &trans  &trans     &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans   &kp N7  &kp N8    &kp N9  &kp ASTERISK    &trans  &trans    &trans     &trans    &trans  &trans
&trans  &kp ESC  &kp N4  &kp N5    &kp N6  &kp EQUAL       &trans  &kp RGUI  &kp LCTRL  &kp LALT  &trans  &trans
&trans  &trans   &kp N1  &kp N2    &kp N3  &kp SLASH       &trans  &trans    &trans     &trans    &trans  &trans
                         &kp PLUS  &kp N0  &kp MINUS       &trans  &trans    &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans       &trans    &trans                 &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp ESC  &trans       &trans    &trans                 &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &kp AT_SIGN  &kp HASH  &kp DOLLAR             &trans            &trans  &trans  &trans  &trans  &trans  &trans
                              &trans    &kp RIGHT_PARENTHESIS  &kp UNDERSCORE    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
